# Dependencies
node_modules/
pnpm-lock.yaml
package-lock.json
yarn.lock
bun.lock

# Environment variables
.env
.env.local
.env.*.local

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# Build outputs
dist/
build/
*.tsbuildinfo

# Backend
packages/backend/dist/
packages/backend/drizzle/
packages/backend/node_modules
packages/backend/.env

# Frontend
packages/frontend/dist/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Misc
.cache/
.turbo/
